.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  /* padding: 30px 60px; */
  position: relative;
  text-align: center;
  justify-content: center;
  background: #fff;
  margin-top: 100px;
}

.sub-main {
  /* display: flex; */
  justify-content: center;
  width: 480px;
  height: 350px;
  padding: 30px 60px;
  border-radius: 12px;
  box-shadow: 0 24px 64px #26214a1a;
}

.login-page-title {
  font-size: 32px;
  width: 100%;
  height: 46px;
  text-align: center;
  margin-bottom: 20px;
}
.login-page-form-main {
  width: 100%;
  box-sizing: inherit;
}
.login-page-form-row {
  position: relative;
  width: 100%;
  margin-bottom: 26px;
}
.login-page-form-label {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  /* display: block; */
  padding: 0 0 8px 2px;
}
